@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*{
    font-family: 'raleway';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--color-fondo);
}
:root{
    --color-letra:rgb(79, 127, 231);
    --color-botones:rgb(94, 218, 94);
    --color-fondo:#f0f0f0;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo{
    position: relative;
    color: var(--color-botones);
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
    /*animation*/
    opacity: 0;
    animation: slide_left .5s linear forwards;
    animation-delay: .1s;
}
header .logo:hover{
    color: var(--color-letra);
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: var(--color-botones);
    background-color: var(--color-fondo);
    box-shadow: 1px 1px 5px rgb(0,0,0,.2);
    font-weight: 600;
    font-size: 1.1rem;
    margin-left: 10px;
    display: inline-block;
    padding: 8px 18px;
    text-decoration: none;
    user-select: none;
    border-radius: 2rem;
    /*animation*/
    opacity: 0;
    animation: slide_top .5s linear forwards;
    animation-delay: calc(.2s * var(--i));
}
    
header ul li a.active{
    background-color: var(--color-fondo);
    color: var(--color-letra);
}
header ul li a:hover{
    background-color: var(--color-fondo);
    color: var(--color-letra);
}
.txtbx{
    position: relative;
    min-width: 550px;
    display: flex;
    z-index: 1;
}
.txtbx h2{
    color: var(--color-letra);
    font-size: 3.5rem;
    margin-bottom: 10px;
    font-weight: 700;
    
}
.content-text-animacion{
    display: flex;
    opacity: 1;
    color: var(--color-letra);
    font-size: 3.5rem;
    margin-left: 15px;
    margin-bottom: 10px;
    font-weight: 700;
}
.barra-text-animacion{
    width: 2px;
    height: 3rem;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #2b2a2abe;
    opacity: 0;
    animation: barra-animacion .8s ease infinite;
     
}
.txtbx-p p{
    font-size: 1.2rem;
    color: #333;
     /*animation*/
     opacity: 0;
     animation: slide_right .5s linear forwards;
     animation-delay: 1.5s;
}
.txtbx-p a{
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: var(--color-botones);
    color: var(--color-fondo);
    font-size: 1.2rem;
    border-radius: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    transition: .5s;
     /*animation*/
     opacity: 0;
     animation: slide_right .5s linear forwards;
     animation-delay: 2s;

}
.txtbx a:hover{
    color: var(--color-fondo);
    background: var(--color-letra);
}
.main-img {
    position: absolute;
    right: 0;
    transition: 2s ease;
    margin-top: -60px;
}

.sci{
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li{
    list-style: none;
}
.sci li a{
    position: relative;
    display: inline-block;
    margin-left: 15px;
    width: 50px;
    height: 50px;
    background-color: var(--color-botones);
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: .5s ease-in-out;
    /*animation*/
    opacity: 0;
    animation: slide_right .5s linear forwards;
    animation-delay: calc(.2s * var(--i));
}
.sci li a:hover{
    background: var(--color-letra);
    transform: translateY(-10px)!important;
}
.sci li a svg{
    width: 30px;
    height: 30px;
    background-color: transparent;
}
/*animaciones*/
@keyframes slide_left{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    } 
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slide_right{
    0%{
        transform: translateX(100px);
        opacity: 0;
    } 
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slide_top{
    0%{
        transform: translatey(100px);
        opacity: 0;
    } 
    100%{
        transform: translatey(0px);
        opacity: 1;
    }
}
@keyframes barra-animacion{
    100%{
     opacity: 1;
    } 
}